body{
    background-color: aquamarine;
    font-size:24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(102, 9, 189);
    width: 100%;
    height: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar a{
    text-decoration: none;
    padding: 0px 10px;
    color: white;

}

.navbar a:hover{
    color: red;
}

.navbar svg text{
    fill:white;
    font-size: 24px;
    text-anchor: middle;
}

.navbar img{
    width: 10%;
    height: 10%;
    margin-right: auto;
}

.text-container{
    padding-top: 10px;
    padding-left: auto;
    margin:0;
    background-color: blue;
    font-size:24px;
    color:white;
    padding-bottom: 10px;
    line-height: 1.6;
    width: 100%;
    align-items: center;
    display:flex;
    flex-direction: column;
}

#dynamic-bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

footer{
    text-align: center;
    margin-top: 3rem;
    padding: 1rem 0;
    background: black;
    color: #888;
}

footer a {
    color: #2575fc;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    background-color: white;
    display: none;
    position: absolute;
    min-width: 150px;
    box-shadow: 0px 8px 16px rgb(102, 9, 189);
    z-index: 1;
}

.dropdown-content a{
    color: black;
    padding: 12px 16px;
    display: block;
}

.dropdown-content a:hover{
    background-color: #aaa;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.image-display img{
    width:100%;
}